h1, h2, h3 {
	color: #428bca;
}
dl {
	width:100%;
	overflow:hidden;
}
dt, dd {
	margin-top:10px;
}
dt {
	float:left;
	width:30%; /* adjust the width; make sure the total of both is 100% */
}
dt label {
	display: inline;
}
dd {
	float:left;
	width:50%; /* adjust the width; make sure the total of both is 100% */
}

.request-form #table-label,
.execute-form #id-label,
.execute-form #id-element,
.execute-form #request_id-label,
.execute-form #request_id-element,
.execute-form #from_provider-label,
.execute-form #from_provider-element,
.execute-form #submit-label
{
	display:none;
	width:0;
	height:0;
}

.request-form #table-label,
.publish-form #id-label,
.publish-form #id-element,
.publish-form #request_id-label,
.publish-form #request_id-element,
.publish-form #from_provider-label,
.publish-form #from_provider-element,
.publish-form #to_provider-label,
.publish-form #to_provider-element,
.publish-form #transfer_time-label,
.publish-form #transfer_time-element,
.publish-form #phone_number-element,
.publish-form #phone_number-label,
.publish-form #last_transaction-element,
.publish-form #last_transaction-label,
.publish-form #submit-label
{
	display:none;
	width:0;
	height:0;
}

table.monitor {
	margin-top: 10px;
}

table.monitor th,
table.monitor td {
	text-align:center;
	padding:2px;
}
div.technical-log {
	margin-top:40px;
}

.zend_form, .request-form {
	width:75%;
}
.zend_form dt, .request-form dt {
	width:30%;
}
.zend_form input[type="text"],
.zend_form select {
	width:200px;
}
.zend_form input[type="submit"]{
	float:right;
}